@import "tailwindcss";

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.update{

    background-color: rgba(244, 243, 240, 1);
    width: 1000px;
    border-radius: 16px;
}
.update div input{
    
    background-color: white;
    width: 300px;
    padding: 4px;
    border-radius: 4px;
    
    
}
.addbtn{
    background-color: rgba(210, 180, 140, 1);
}